[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/Mod4-Da-GOAT/OpenSSL
    branch = main
[submodule "litehook"]
	path = litehook
	url = https://github.com/Mod4-Da-GOAT/litehook
    branch = main
